<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue/php</title>
</head>
<body>
 
<div id="app">
    
    <div class="header"><h1>{{ header || 'Welcome' }}</h1></div>
    
    <!-- <ul>
        <li v-for="toDo in todos" v-bind:key="toDo">{{ toDo }}</li>
    </ul> -->

    <p>{{ textDemo }}</p>

    <form v-on:submit.prevent="get">
        <input type="text" maxlength="15" v-model="text" placeholder="type any name here..."> &nbsp;{{ textCount }}/15
        <br>
         <br>
        <input type="submit" value="Get">
    </form>
<hr>
    <form v-on:submit.prevent="post">
        <input type="text" maxlength="15" v-model="fullName" placeholder="type any name here..."> &nbsp;{{ fullNameCount }}/15
        <br>
         <br>
        <input type="submit" value="Post">
    </form>
    
<hr style="border: 1px solid black;">

<button class="btn btn-primary" v-on:click="loadJson">Load JSON</button>
<br>
<p v-if="filledList === true" v-for="(list, index) in lists" :key="list.id">
    Number: {{ index }} <br> 
    Full name: {{ list.FullName }} <br>
    Mobile number: {{ list.MobileNumber }} <br>
    email:  {{ list.Email }} <br>
    Registration:  {{ list.RegDate }}
</p>
<p v-else-if="lists.length === 0" style="color: red;">{{errorMsg}}</p>

</div> 

<script src="app.js"></script>
</body>
</html>